/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* START USER STYLES HERE */

body {
	background-color: rgba(187,189,191,0.85);
}

.container {
	width: 1024px;
	height: 1020px;
	margin: auto;
}

.header	{
	width: 100%;
	height: 50px;
	background: #686868; /* Old browsers */
	background: -moz-linear-gradient(top,  #686868 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686868), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #686868 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #686868 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #686868 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #686868 0%,#0e0e0e 100%); /* W3C */
	-webkit-box-shadow: 4px 3px 11px rgba(255, 255, 255, 0.25);
	-moz-box-shadow:    4px 3px 11px rgba(255, 255, 255, 0.25);
	box-shadow:         4px 3px 11px rgba(255, 255, 255, 0.25);

}

.logobug {
	background: url(../img/img-rehash-bug.png) center no-repeat;
	width: 30px;
	height: 35px;
	padding-left: 50px;
	padding-top: 13px;
}

#language {
	font-family: helvetica, arial, sans-serif;
	font-size: 18px;
	float: right;

}

.content-wrapper {
	background: url(../img/img-bkgd.jpg) left center no-repeat;
	width: 1024px;
	height: 970px;
	/**zoom: 1;*/
	margin: auto;
	background-color: rgba(212,208,199,1);	
}

/*.content-wrapper:before, 
.content-wrapper:after {
	content:"";
	display:table;
}

.content-wrapper:after {
	clear:both;
}*/

.banner {
	background: url(../img/img-rehash-logo.png) left no-repeat;
	padding-left: 20%;
	padding-top: 35%;
}

p {
	color: white;
}
